@{
	ViewData["Title"] = "Edit User";
}

@model User

<form method="post">
	<div class="mt-4 p-3">
		<h2>Edit User @Model.Id</h2>
		<div asp-validation-summary="All"></div>

		<input asp-for="Id" hidden/>
		<div class="row mb-2 p-1">
			<label class="p-0">First Name</label>
			<input asp-for="FirstName" class="form-control"/>
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		<div class="row mb-2 p-1">
			<label class="p-0">Last Name</label>
			<input asp-for="LastName" class="form-control"/>
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
		<div class="row mb-2 p-1">
			<label class="p-0">Nick</label>
			<input asp-for="Nick" class="form-control"/>
			<span asp-validation-for="Nick" class="text-danger"></span>
		</div>
		<div class="row mb-2 p-1">
			<label class="p-0">Email</label>
			<input asp-for="Email" class="form-control"/>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control" >Edit</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="User" asp-action="Index" class="btn btn-secondary border  form-control">
					Back to List
				</a>
			</div>
		</div>
	</div>
</form>
