.cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 3px solid #101010;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: 1px 1px 1px 1px grey;
}

img{
    border-radius: 25px;
}

.article-info{
    margin-top: 60px;
}

.date{
    margin: 0;
    font-style: italic;
    text-align: end;
}

.author{
    margin: 5px;
    font-weight: bold;
}

.title-section{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}

.article-content{
    padding: 25px;
}